<!DOCTYPE html>
<html style = "background: #111827;">
<head>
    <title>Habit Progress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background:#111827; color:white; text-align:center; margin-top: 40px;">

     <div class="chart-wrapper">
        <img src="{{ url_for('static', filename='habit_chart.png') }}"style="max-width:100%; height:auto; border-radius:12px; box-shadow:0 0 12px rgba(0,0,0,0.5);">
     </div>  

</body>
</html>
